body, * {
  margin: 0;
  padding: 0;
  line-height: 1.3em;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #0B3234;
  font-size: 18px;
  font-family: 'Roboto Condensed', Calibri, sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
}

code {
  white-space: pre-line;
}

.description_block {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  z-index: 27;
  padding: 20px;
  padding: calc(10px + 5vh);
  text-align: center;
  position: relative;
  z-index: 27;
}

.description_block::before, .description_block::after {
  content: '';
  display: block;
  position: absolute;
  top: -15px;
  left: 15%;
  right: 15%;
  bottom: 0;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

.description_block::before {
  top: -30px;
  left: 35%;
  right: 35%;
  bottom: 0;
}

.description_block p {
  padding-top: 10px;
  padding-top: calc(10px + 1em);
}

.description_block p:first-child {
  padding: 0;
}

.header {
  padding: 172px 0;
  padding: calc(72px + 10vh) 0;
  position: relative;
  overflow: hidden;
  background-color: #176469;
}

.header > * {
  position: relative;
}

.header__bg {
  position: absolute;
  top: -27px;
  left: -27px;
  right: -27px;
  bottom: -27px;
  z-index: 0;
  opacity: 0.5;
  background-image: url(/img/bg-2.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 100px auto;
}

.header .title {
  color: #fff;
  font-size: 5em;
  margin-bottom: 72px;
  margin-bottom: 10vh;
  text-shadow: 0 0 23px #176469, 0 0 61px #176469;
  line-height: 1em;
}

.header .description {
  font-size: 1.1em;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 2727;
  text-align: center;
  font-size: 1.3em;
  box-shadow: 0 0 23px rgba(0, 0, 0, 0.2);
}

.nav__link {
  display: inline-block;
  padding: 20px;
}

.how_to__wrap {
  position: relative;
}

.how_to__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  font-size: 2em;
  color: #fff;
  border-top: 5px solid #0B3234;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: rgba(11, 50, 52, 0.5);
}

.how_to__list {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  padding: calc(30px + 4vh) 0;
  list-style: none;
}

.how_to__list_item {
  padding: 10px;
  padding: calc(10px + 1vh);
  margin-left: 40px;
  margin-left: calc(40px + 1vw);
  position: relative;
}

.how_to__list_item::before {
  content: attr(data-list-item);
  display: block;
  position: absolute;
  top: 3vh;
  left: calc(-30px - 1vw);
  font-size: 5em;
  opacity: 0.1;
}

.how_to__list_item.m--sub {
  padding-left: 70px;
  padding-left: calc(70px + 1vh);
}

.demonstration {
  padding: 0 0 calc(30px + 4vh);
  background-color: #f5f2f0;
  position: relative;
  overflow: hidden;
}

.demonstration > * {
  position: relative;
}

.demonstration::before {
  content: '';
  display: block;
  position: absolute;
  top: -27px;
  left: -27px;
  right: -27px;
  bottom: -27px;
  z-index: 0;
  opacity: 0.03;
  background-image: url(/img/bg.png);
  background-repeat: repeat;
  background-position: center;
  background-size: 100px auto;
}

.demonstration__header {
  font-size: 2em;
  border-bottom: 5px solid #fff;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 auto calc(10px + 4vh);
  padding: 10px 20px;
}

.demonstration__description {
  margin-bottom: calc(10px + 4vh);
}

.demonstration__description::before, .demonstration__description::after {
  background: rgba(255, 255, 255, 0.5);
}

.footer {
  padding: 20px 10px;
  text-align: center;
}

.sorted_table {
  display: block;
  max-height: 25vh;
  transition: 0.2s all linear;
  position: relative;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.sorted_table::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 -25px 40px #f5f2f0;
}

.m--sorted .sorted_table {
  height: 100%;
  max-height: 100%;
}

.m--sorted .sorted_table::after {
  display: none;
}

.sorted_table__col {
  display: inline-block;
  margin-left: 15px;
  width: calc(20% - (15px + 15px / 5));
  vertical-align: top;
}

@media (max-width: 1500px) {
  .sorted_table__col {
    width: calc(25% - (15px + 15px / 4));
  }
}

@media (max-width: 1200px) {
  .sorted_table__col {
    width: calc(33.33333% - (15px + 15px / 3));
  }
}

@media (max-width: 800px) {
  .sorted_table__col {
    width: calc(50% - (15px + 15px / 2));
  }
}

@media (max-width: 500px) {
  .sorted_table__col {
    width: calc(100% - (15px + 15px / 1));
  }
}

.sorted_table__block {
  background-color: #fff;
  width: calc(100% - 15px);
  -webkit-flex-basis: calc(100% - 15px);
  flex-basis: calc(100% - 15px);
  box-sizing: border-box;
  display: table;
  border-radius: 3px;
  width: 100%;
  margin: 15px 0;
  padding: 15px;
  vertical-align: middle;
  position: relative;
  border: 3px solid rgba(23, 100, 105, 0.3);
  border-width: 5px 0 0;
}

.sorted_table__block.m--important {
  border-color: rgba(23, 100, 105, 0.5);
}

.sorted_table__block::before, .sorted_table__block::after {
  content: '';
  position: absolute;
  display: none;
  bottom: 0;
  left: -100vw;
  right: -100vw;
  z-index: 23;
  border-bottom: 1px dashed #f00;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.sorted_table__block::after {
  bottom: -15px;
  border-color: #0f0;
}

.sorted_table__block:hover::before, .sorted_table__block:hover::after {
  display: block;
}
